{% include 'dashboard/partials/header.liquid' %}
{% include 'dashboard/partials/sidebar.liquid' %}

    <div class="content-body">
        <div class="container">
            <div class="page-title">
                <div class="row align-items-center justify-content-between">
                    <div class="col-6">
                        <div class="page-title-content">
                            <h3>Profile</h3>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="breadcrumbs"><a href="#">Home </a><span><i
                                    class="ri-arrow-right-s-line"></i></span><a href="#">Profile</a></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-12 col-xl-12">
                    <div class="card welcome-profile">
                        <div class="card-body"><img src="images/avatar/1.jpg" alt="">
                            <h4>Welcome, {{loggedUser.fname}}!</h4>
                            <p>Looks like you are not 100% verified yet. Verify yourself to use the full potential of
                                Xtrader.</p>
                            <ul>
                                {% if loggedUser.emailValidated == true %}
                                <li>
                                    <a href="javascript:void(0)"><span class="verified"><i class="ri-check-line"></i></span>
                                        Verify account
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="#"><span class="not-verified">
                                        <i class="ri-shield-check-line"></i></span>
                                        Two-factor authentication (2FA)
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><span class="not-verified">
                                        <i class="ri-shield-check-line"></i></span>
                                        Identity Verification
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">My Collection</h4>
                        </div>
                        <div class="card-body bs-0 p-0 bg-transparent">
                            <div class="row">
                                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="card items">
                                        <div class="card-body">
                                            <div class="items-img position-relative"><img src="images/items/1.jpg"
                                                    class="img-fluid rounded mb-3" alt=""><img
                                                    src="images/avatar/1.jpg" class="creator" width="50" alt=""></div>
                                            <h4 class="card-title">Liguid Wave</h4>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


    {% include 'dashboard/partials/footer.liquid' %}