 {% include 'partials/header.liquid' %}
 {% include 'partials/topbar.liquid' %}
 <!-- content begin -->
 <div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <!-- <section id="section-hero" class="no-bottom" aria-label="section">
        <div class="d-carousel">
            <div id="item-carousel-big" class="owl-carousel wow fadeIn">
                <div class="nft_pic">                            
                    <a href="02_dark-item-details.html">
                        <span class="nft_pic_info">
                            <span class="nft_pic_title">Glass Cube</span>
                            <span class="nft_pic_by">Mamie Barnett</span>
                        </span>
                    </a>
                    <div class="nft_pic_wrap">
                        <img src="images/carousel/crs-1.jpg" class="lazy img-fluid" alt="">
                    </div>
                </div>

                <div class="nft_pic">                            
                    <a href="02_dark-item-details.html">
                        <span class="nft_pic_info">
                            <span class="nft_pic_title">Purple Ocean</span>
                            <span class="nft_pic_by">Monica Lucas</span>
                        </span>
                    </a>
                    <div class="nft_pic_wrap">
                        <img src="images/carousel/crs-2.jpg" class="lazy img-fluid" alt="">
                    </div>
                </div>

                <div class="nft_pic">                            
                    <a href="02_dark-item-details.html">
                        <span class="nft_pic_info">
                            <span class="nft_pic_title">Hot Lava</span>
                            <span class="nft_pic_by">Nicholas Daniels</span>
                        </span>
                    </a>
                    <div class="nft_pic_wrap">
                        <img src="images/carousel/crs-3.jpg" class="lazy img-fluid" alt="">
                    </div>
                </div>                        


                <div class="nft_pic">                            
                    <a href="02_dark-item-details.html">
                        <span class="nft_pic_info">
                            <span class="nft_pic_title">Loop Donut</span>
                            <span class="nft_pic_by">Lori Hart</span>
                        </span>
                    </a>
                    <div class="nft_pic_wrap">
                        <img src="images/items/anim-5.html" class="lazy img-fluid" alt="">
                    </div>
                </div>

                <div class="nft_pic">                            
                    <a href="02_dark-item-details.html">
                        <span class="nft_pic_info">
                            <span class="nft_pic_title">I Believe I Can Fly</span>
                            <span class="nft_pic_by">Fred Ryan</span>
                        </span>
                    </a>
                    <div class="nft_pic_wrap">
                        <img src="images/items/anim-8.html" class="lazy img-fluid" alt="">
                    </div>
                </div>
            </div>
                <div class="d-arrow-left"><i class="fa fa-angle-left"></i></div>
                <div class="d-arrow-right"><i class="fa fa-angle-right"></i></div>
        </div>
    </section> -->

    <section id="section-hero" class="no-bottom" data-bgimage="url(images/background/13.jpg) bottom">
        <div class="container">
            <div id="items-carousel-big" class="owl-carousel">
                <!-- carousel item -->
                <div class="nft__item_lg">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <img src="images/carousel/crs-4.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6">
                            <div class="d-desc">
                                <h2>Red Ocean</h2>
                                <div class="d-author">
                                    <div class="author_list_pp">
                                        <a href="03_grey-author.html">
                                            <img class="lazy" src="images/author/author-1.jpg" alt="">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </div>                                    
                                    <div class="author_list_info">
                                        <a href="03_grey-author.html">Monica Lucas</a>
                                        <span>@monicaaa</span>
                                    </div>
                                </div>
                                <div class="d-attr">
                                    <div>
                                        <span class="d-title">Current Bid</span>
                                        <h3>2.59 ETH</h3>
                                        <h5>($7578.52)</h5>
                                    </div>
                                    <div>
                                        <span class="d-title">Auction end in</span>
                                        <div class="de_countdown" data-year="2022" data-month="5" data-day="16" data-hour="8"></div>
                                        <h5>(July 19, 2022)</h5>
                                    </div>
                                </div>
                                <div class="spacer-10"></div>
                                <div class="d-buttons">
                                    <a href="#" class="btn-main" data-bs-toggle="modal" data-bs-target="#place_a_bid">Place a bid</a>&nbsp;
                                    <a href="02_dark-item-details.html" class="btn-main btn-light">View artwork</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- carousel item -->
                <div class="nft__item_lg">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <img src="images/carousel/crs-5.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6">
                            <div class="d-desc">
                                <h2>Live Arts</h2>
                                <div class="d-author">
                                    <div class="author_list_pp">
                                        <a href="03_grey-author.html">
                                            <img class="lazy" src="images/author/author-5.jpg" alt="">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </div>                                    
                                    <div class="author_list_info">
                                        <a href="03_grey-author.html">Jimmy Wright</a>
                                        <span>@jimmywright</span>
                                    </div>
                                </div>
                                <div class="d-attr">
                                    <div>
                                        <span class="d-title">Current Bid</span>
                                        <h3>1.78 ETH</h3>
                                        <h5>($5208.40)</h5>
                                    </div>
                                    <div>
                                        <span class="d-title">Auction end in</span>
                                        <div class="de_countdown" data-year="2022" data-month="5" data-day="14" data-hour="8"></div>
                                        <h5>(August 2, 2022)</h5>
                                    </div>
                                </div>
                                <div class="spacer-10"></div>
                                <div class="d-buttons">
                                    <a href="#" class="btn-main" data-bs-toggle="modal" data-bs-target="#place_a_bid">Place a bid</a>&nbsp;
                                    <a href="02_dark-item-details.html" class="btn-main btn-light">View artwork</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- carousel item -->
                <div class="nft__item_lg">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <img src="images/carousel/crs-1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6">
                            <div class="d-desc">
                                <h2>Glass Cube</h2>
                                <div class="d-author">
                                    <div class="author_list_pp">
                                        <a href="03_grey-author.html">
                                            <img class="lazy" src="images/author/author-4.jpg" alt="">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </div>                                    
                                    <div class="author_list_info">
                                        <a href="03_grey-author.html">Lori Hart</a>
                                        <span>@lorihart</span>
                                    </div>
                                </div>
                                <div class="d-attr">
                                    <div>
                                        <span class="d-title">Current Bid</span>
                                        <h3>3.69 ETH</h3>
                                        <h5>($10738.68)</h5>
                                    </div>
                                    <div>
                                        <span class="d-title">Auction end in</span>
                                        <div class="de_countdown" data-year="2022" data-month="5" data-day="6" data-hour="8"></div>
                                        <h5>(July 29, 2022)</h5>
                                    </div>
                                </div>
                                <div class="spacer-10"></div>
                                <div class="d-buttons">
                                    <a href="#" class="btn-main" data-bs-toggle="modal" data-bs-target="#place_a_bid">Place a bid</a>&nbsp;
                                    <a href="02_dark-item-details.html" class="btn-main btn-light">View artwork</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                 
        </div>
    </section>

    <section id="section-collections" class="pt30">
        <div class="container">

                    <div class="spacer-single"></div>
                    
                    <div class="row wow fadeIn"> 
                        <div class="col-lg-12">
                            <h2 class="style-2">New Items</h2>
                        </div>

                        <!-- nft item begin -->
                        <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="nft__item style-2">
                                <div class="de_countdown bg-color-secondary text-white" data-year="2022" data-month="5" data-day="22" data-hour="8"></div>
                                <div class="author_list_pp">
                                    <a href="02_dark-author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Monica Lucas">                                    
                                        <img class="lazy" src="images/author/author-1.jpg" alt="">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                                <div class="nft__item_wrap">
                                    <div class="nft__item_extra">
                                        <div class="nft__item_buttons">
                                            <button onclick="location.href='02_non-bid-item-details.html'">Invest Now</button>
                                            <div class="nft__item_share">
                                                <h4>Share</h4>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                                                <a href="https://twitter.com/intent/tweet?url=https://" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                                                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://"><i class="fa fa-envelope fa-lg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="02_dark-item-details.html">
                                        <img src="images/items-alt/static-1.jpg" class="lazy nft__item_preview" alt="">
                                    </a>
                                </div>
                                <div class="nft__item_info">
                                    <a href="02_dark-item-details.html">
                                        <h4>Sunny Day</h4>
                                    </a>
                                    <div class="nft__item_click">
                                <span></span>
                            </div>
                            <div class="nft__item_price">
                                   0.534ETH<span>2/20</span>
                                    </div>
                                    <div class="nft__item_action">
                                        <a href="#">Place a bid</a>
                                    </div>
                                    <div class="nft__item_like">
                                        <i class="fa fa-heart"></i><span>50</span>
                                    </div>                            
                                </div> 
                            </div>
                        </div>                 
                        <!-- nft item begin -->
                        <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="nft__item style-2">
                                <div class="author_list_pp">
                                    <a href="02_dark-author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Stacy Long">                                    
                                        <img class="lazy" src="images/author/author-10.jpg" alt="">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                                <div class="nft__item_wrap">
                                    <div class="nft__item_extra">
                                        <div class="nft__item_buttons">
                                            <button onclick="location.href='02_dark-item-details.html'">Invest Now</button>
                                            <div class="nft__item_share">
                                                <h4>Share</h4>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                                                <a href="https://twitter.com/intent/tweet?url=https://" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                                                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://"><i class="fa fa-envelope fa-lg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="02_dark-item-details.html">
                                        <img src="images/items-alt/static-2.jpg" class="lazy nft__item_preview" alt="">
                                    </a>
                                </div>
                                <div class="nft__item_info">
                                    <a href="02_dark-item-details.html">
                                        <h4>Blue Planet</h4>
                                    </a>
                                    <div class="nft__item_click">
                                <span></span>
                            </div>
                            <div class="nft__item_price">
                                        0.905 ETH<span>6/22</span>
                                    </div>
                                    <div class="nft__item_action">
                                        <a href="#">Place a bid</a>
                                    </div>
                                    <div class="nft__item_like">
                                        <i class="fa fa-heart"></i><span>80</span>
                                    </div>                                 
                                </div> 
                            </div>
                        </div>
                        <!-- nft item begin -->
                        <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="nft__item style-2">
                                <div class="de_countdown bg-color-secondary text-white" data-year="2022" data-month="5" data-day="12" data-hour="8"></div>
                                <div class="author_list_pp">
                                    <a href="02_dark-author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Ida Chapman">                                    
                                        <img class="lazy" src="images/author/author-11.jpg" alt="">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                                <div class="nft__item_wrap">
                                    <div class="nft__item_extra">
                                        <div class="nft__item_buttons">
                                            <button onclick="location.href='02_dark-item-details.html'">Invest Now</button>
                                            <div class="nft__item_share">
                                                <h4>Share</h4>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                                                <a href="https://twitter.com/intent/tweet?url=https://" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                                                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://"><i class="fa fa-envelope fa-lg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="02_dark-item-details.html">
                                        <img src="images/items-alt/static-3.jpg" class="lazy nft__item_preview" alt="">
                                    </a>
                                </div>
                                <div class="nft__item_info">
                                    <a href="02_dark-item-details.html">
                                        <h4>Finally Free</h4>
                                    </a>
                                    <div class="nft__item_click">
                                <span></span>
                            </div>
                            <div class="nft__item_price">
                                0.635 ETH<span>3/11</span>
                                    </div>
                                    <div class="nft__item_action">
                                        <a href="#">Place a bid</a>
                                    </div>
                                    <div class="nft__item_like">
                                        <i class="fa fa-heart"></i><span>97</span>
                                    </div>                                 
                                </div> 
                            </div>
                        </div>
                        <!-- nft item begin -->
                        <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="nft__item style-2">
                                <div class="author_list_pp">
                                    <a href="02_dark-author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Fred Ryan">                                    
                                        <img class="lazy" src="images/author/author-12.jpg" alt="">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                                <div class="nft__item_wrap">
                                    <div class="nft__item_extra">
                                        <div class="nft__item_buttons">
                                            <button onclick="location.href='02_dark-item-details.html'">Invest Now</button>
                                            <div class="nft__item_share">
                                                <h4>Share</h4>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                                                <a href="https://twitter.com/intent/tweet?url=https://" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                                                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://"><i class="fa fa-envelope fa-lg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="02_dark-item-details.html">
                                        <img src="images/items-alt/static-4.jpg" class="lazy nft__item_preview" alt="">
                                    </a>
                                </div>
                                <div class="nft__item_info">
                                    <a href="02_dark-item-details.html">
                                        <h4>Work From Home</h4>
                                    </a>
                                    <div class="nft__item_click">
                                <span></span>
                            </div>
                            <div class="nft__item_price">
                                 1.007 ETH<span>7/15</span>
                                    </div>
                                    <div class="nft__item_action">
                                        <a href="#">Place a bid</a>
                                    </div>
                                    <div class="nft__item_like">
                                        <i class="fa fa-heart"></i><span>190</span>
                                    </div>                                 
                                </div> 
                            </div>
                        </div>
                        <!-- nft item begin -->
                        <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="nft__item style-2">
                                <div class="author_list_pp">
                                    <a href="02_dark-author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Franklin Greer">                                    
                                        <img class="lazy" src="images/author/author-9.jpg" alt="">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                                <div class="nft__item_wrap">
                                    <div class="nft__item_extra">
                                        <div class="nft__item_buttons">
                                            <button onclick="location.href='02_dark-item-details.html'">Invest Now</button>
                                            <div class="nft__item_share">
                                                <h4>Share</h4>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                                                <a href="https://twitter.com/intent/tweet?url=https://" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                                                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://"><i class="fa fa-envelope fa-lg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="02_dark-item-details.html">
                                        <img src="images/items/anim-4.html" class="lazy nft__item_preview" alt="">
                                    </a>
                                </div>
                                <div class="nft__item_info">
                                    <a href="02_dark-item-details.html">
                                        <h4>The Truth</h4>
                                    </a>
                                    <div class="nft__item_click">
                                <span></span>
                            </div>
                            <div class="nft__item_price">
                                0.689 ETH<span>1/20</span>
                                    </div>
                                    <div class="nft__item_action">
                                        <a href="#">Place a bid</a>
                                    </div>
                                    <div class="nft__item_like">
                                        <i class="fa fa-heart"></i><span>56</span>
                                    </div>                                 
                                </div>
                            </div>
                        </div>
                        <!-- nft item begin -->
                        <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="nft__item style-2">
                                <div class="de_countdown bg-color-secondary text-white" data-year="2022" data-month="5" data-day="28" data-hour="8"></div>
                                <div class="author_list_pp">
                                    <a href="02_dark-author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Mamie Barnett">                                    
                                        <img class="lazy" src="images/author/author-2.jpg" alt="">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                                <div class="nft__item_wrap">
                                    <div class="nft__item_extra">
                                        <div class="nft__item_buttons">
                                            <button onclick="location.href='02_dark-item-details.html'">Invest Now</button>
                                            <div class="nft__item_share">
                                                <h4>Share</h4>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                                                <a href="https://twitter.com/intent/tweet?url=https://" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                                                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://"><i class="fa fa-envelope fa-lg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="02_dark-item-details.html">
                                        <img src="images/items-alt/static-5.jpg" class="lazy nft__item_preview" alt="">
                                    </a>
                                </div>
                                <div class="nft__item_info">
                                    <a href="02_dark-item-details.html">
                                        <h4>Running Puppets</h4>
                                    </a>
                                    <div class="nft__item_click">
                                <span></span>
                            </div>
                            <div class="nft__item_price">
                                0.920 ETH<span>1/24</span>
                                    </div>    
                                    <div class="nft__item_action">
                                        <a href="#">Place a bid</a>
                                    </div>
                                    <div class="nft__item_like">
                                        <i class="fa fa-heart"></i><span>58</span>
                                    </div>                                  
                                </div> 
                            </div>
                        </div>
                        <!-- nft item begin -->
                        <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="nft__item style-2">
                                <div class="author_list_pp">
                                    <a href="02_dark-author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Nicholas Daniels">                                    
                                        <img class="lazy" src="images/author/author-3.jpg" alt="">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                                <div class="nft__item_wrap">
                                    <div class="nft__item_extra">
                                        <div class="nft__item_buttons">
                                            <button onclick="location.href='02_non-bid-item-details.html'">Invest Now</button>
                                            <div class="nft__item_share">
                                                <h4>Share</h4>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                                                <a href="https://twitter.com/intent/tweet?url=https://" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                                                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://"><i class="fa fa-envelope fa-lg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="02_non-bid-item-details.html">
                                        <img src="images/items-alt/static-6.jpg" class="lazy nft__item_preview" alt="">
                                    </a>
                                </div>
                                <div class="nft__item_info">
                                    <a href="02_non-bid-item-details.html">
                                        <h4>Green Frogman</h4>
                                    </a>
                                    <div class="nft__item_click">
                                <span></span>
                            </div>
                            <div class="nft__item_price">
                                0.496 ETH<span>1/25</span>
                                    </div>
                                    <div class="nft__item_action">
                                        <a href="#">Place a bid</a>
                                    </div>
                                    <div class="nft__item_like">
                                        <i class="fa fa-heart"></i><span>77</span>
                                    </div>                                 
                                </div> 
                            </div>
                        </div>
                        <!-- nft item begin -->
                        <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="nft__item style-2">
                                <div class="de_countdown bg-color-secondary text-white" data-year="2022" data-month="5" data-day="8" data-hour="8"></div>
                                <div class="author_list_pp">
                                    <a href="02_dark-author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Lori Hart">                                    
                                        <img class="lazy" src="images/author/author-4.jpg" alt="">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                                <div class="nft__item_wrap">
                                    <div class="nft__item_extra">
                                        <div class="nft__item_buttons">
                                            <button onclick="location.href='02_dark-item-details.html'">Invest Now</button>
                                            <div class="nft__item_share">
                                                <h4>Share</h4>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                                                <a href="https://twitter.com/intent/tweet?url=https://" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                                                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://"><i class="fa fa-envelope fa-lg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="02_dark-item-details.html">
                                        <img src="images/items/anim-5.html" class="lazy nft__item_preview" alt="">
                                    </a>
                                </div>
                                <div class="nft__item_info">
                                    <a href="02_dark-item-details.html">
                                        <h4>Loop Donut</h4>
                                    </a>
                                    <div class="nft__item_click">
                                <span></span>
                            </div>
                            <div class="nft__item_price">
                                0.908 ETH<span>1/14</span>
                                    </div>
                                    <div class="nft__item_action">
                                        <a href="#">Place a bid</a>
                                    </div>
                                    <div class="nft__item_like">
                                        <i class="fa fa-heart"></i><span>94</span>
                                    </div>                                 
                                </div> 
                            </div>
                        </div>
                    </div>

                    <div class="spacer-single"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="style-2">Hot Collections</h2>
                        </div>
                        <div id="collection-carousel-alt" class="owl-carousel wow fadeIn">

                                <div class="nft_coll style-2">
                                    <div class="nft_wrap">
                                        <a href="02_dark-collection.html"><img src="images/collections/coll-1.jpg" class="lazy img-fluid" alt=""></a>
                                    </div>
                                    <div class="nft_coll_pp">
                                        <a href="02_dark-collection.html"><img class="lazy pp-coll" src="images/author/author-1.jpg" alt=""></a>
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="nft_coll_info">
                                        <a href="02_dark-collection.html"><h4>Abstraction</h4></a>
                                        <span>ERC-192</span>
                                    </div>
                                </div>
                            
                                <div class="nft_coll style-2">
                                    <div class="nft_wrap">
                                        <a href="02_dark-collection.html"><img src="images/collections/coll-2.jpg" class="lazy img-fluid" alt=""></a>
                                    </div>
                                    <div class="nft_coll_pp">
                                        <a href="02_dark-collection.html"><img class="lazy pp-coll" src="images/author/author-2.jpg" alt=""></a>
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="nft_coll_info">
                                        <a href="02_dark-collection.html"><h4>Patternlicious</h4></a>
                                        <span>ERC-61</span>
                                    </div>
                                </div>
                            
                                <div class="nft_coll style-2">
                                    <div class="nft_wrap">
                                        <a href="02_dark-collection.html"><img src="images/collections/coll-3.jpg" class="lazy img-fluid" alt=""></a>
                                    </div>
                                    <div class="nft_coll_pp">
                                        <a href="02_dark-collection.html"><img class="lazy pp-coll" src="images/author/author-3.jpg" alt=""></a>
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="nft_coll_info">
                                        <a href="02_dark-collection.html"><h4>Skecthify</h4></a>
                                        <span>ERC-126</span>
                                    </div>
                                </div>
                            
                                <div class="nft_coll style-2">
                                    <div class="nft_wrap">
                                        <a href="02_dark-collection.html"><img src="images/collections/coll-4.jpg" class="lazy img-fluid" alt=""></a>
                                    </div>
                                    <div class="nft_coll_pp">
                                        <a href="02_dark-collection.html"><img class="lazy pp-coll" src="images/author/author-4.jpg" alt=""></a>
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="nft_coll_info">
                                        <a href="02_dark-collection.html"><h4>Cartoonism</h4></a>
                                        <span>ERC-73</span>
                                    </div>
                                </div>
                            
                                <div class="nft_coll style-2">
                                    <div class="nft_wrap">
                                        <a href="02_dark-collection.html"><img src="images/collections/coll-5.jpg" class="lazy img-fluid" alt=""></a>
                                    </div>
                                    <div class="nft_coll_pp">
                                        <a href="02_dark-collection.html"><img class="lazy pp-coll" src="images/author/author-5.jpg" alt=""></a>
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="nft_coll_info">
                                        <a href="02_dark-collection.html"><h4>Virtuland</h4></a>
                                        <span>ERC-85</span>
                                    </div>
                                </div>
                            
                                <div class="nft_coll style-2">
                                    <div class="nft_wrap">
                                        <a href="02_dark-collection.html"><img src="images/collections/coll-6.jpg" class="lazy img-fluid" alt=""></a>
                                    </div>
                                    <div class="nft_coll_pp">
                                        <a href="02_dark-collection.html"><img class="lazy pp-coll" src="images/author/author-6.jpg" alt=""></a>
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="nft_coll_info">
                                        <a href="02_dark-collection.html"><h4>Papercut</h4></a>
                                        <span>ERC-42</span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="spacer-single"></div>

                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="style-2">Top Gainers</h2>
                            </div>
                            <div class="col-md-12 wow fadeIn">
                                <ol class="author_list">
                                    <li>                                    
                                        <div class="author_list_pp">
                                            <a href="02_dark-author.html">
                                                <img class="lazy" src="images/author/author-1.jpg" alt="">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </div>                                    
                                        <div class="author_list_info">
                                            <a href="02_dark-author.html">Monica Lucas</a>
                                            <span>1382.049 ETH</span>
                                            <span>$4044</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="author_list_pp">
                                            <a href="02_dark-author.html">                                    
                                                <img class="lazy" src="images/author/author-2.jpg" alt="">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </div>
                                        <div class="author_list_info">
                                            <a href="02_dark-author.html">Mamie Barnett</a>
                                            <span>18.087 ETH</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="author_list_pp">
                                            <a href="02_dark-author.html">                                    
                                                <img class="lazy" src="images/author/author-3.jpg" alt="">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </div>
                                        <div class="author_list_info">
                                            <a href="02_dark-author.html">Nicholas Daniels</a>
                                            <span>150.809 ETH</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="author_list_pp">
                                            <a href="02_dark-author.html">                                    
                                                <img class="lazy" src="images/author/author-4.jpg" alt="">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </div>
                                        <div class="author_list_info">
                                            <a href="02_dark-author.html">Lori Hart</a>
                                            <span>238.063 ETH</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="author_list_pp">
                                            <a href="02_dark-author.html">                                    
                                                <img class="lazy" src="images/author/author-5.jpg" alt="">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </div>
                                        <div class="author_list_info">
                                            <a href="02_dark-author.html">Jimmy Wright</a>
                                            <span>78.049 ETH</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="author_list_pp">
                                            <a href="02_dark-author.html">                                    
                                                <img class="lazy" src="images/author/author-6.jpg" alt="">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </div>
                                        <div class="author_list_info">
                                            <a href="02_dark-author.html">Karla Sharp</a>
                                            <span>168.009 ETH</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="author_list_pp">
                                            <a href="02_dark-author.html">                                    
                                                <img class="lazy" src="images/author/author-7.jpg" alt="">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </div>
                                        <div class="author_list_info">
                                            <a href="02_dark-author.html">Gayle Hicks</a>
                                            <span>58.890 ETH</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="author_list_pp">
                                            <a href="02_dark-author.html">                                    
                                                <img class="lazy" src="images/author/author-8.jpg" alt="">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </div>
                                        <div class="author_list_info">
                                            <a href="02_dark-author.html">Claude Banks</a>
                                            <span>12.890 ETH</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="author_list_pp">
                                            <a href="02_dark-author.html">                                    
                                                <img class="lazy" src="images/author/author-9.jpg" alt="">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </div>
                                        <div class="author_list_info">
                                            <a href="02_dark-author.html">Franklin Greer</a>
                                            <span>20.349 ETH</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="author_list_pp">
                                            <a href="02_dark-author.html">                                    
                                                <img class="lazy" src="images/author/author-10.jpg" alt="">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </div>
                                        <div class="author_list_info">
                                            <a href="02_dark-author.html">Stacy Long</a>
                                            <span>60.548 ETH</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="author_list_pp">
                                            <a href="02_dark-author.html">                                    
                                                <img class="lazy" src="images/author/author-11.jpg" alt="">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </div>
                                        <div class="author_list_info">
                                            <a href="02_dark-author.html">Ida Chapman</a>
                                            <span>10.096 ETH</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="author_list_pp">
                                            <a href="02_dark-author.html">                                    
                                                <img class="lazy" src="images/author/author-12.jpg" alt="">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </div>
                                        <div class="author_list_info">
                                            <a href="02_dark-author.html">Fred Ryan</a>
                                            <span>1280.5 ETH</span>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                </div>
    </section>
    
</div>
<!-- content close -->
{% include 'partials/footer.liquid' %}