</div>

<script src="/dashboard/vendor/jquery/jquery.min.js"></script>
<script src="/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/dashboard/vendor/chartjs/chart.bundle.min.js"></script>

<script src="/dashboard/js/plugins/chartjs-line-init.js"></script>


<script src="/dashboard/js/plugins/chartjs-donut.js"></script>


<script src="/dashboard/js/scripts.js"></script>
{% if footer_scripts %}
{% for script in footer_scripts %}
<script src="{{script}}"></script>
{% endfor %}
{% endif %}

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/62953054b0d10b6f3e74cff3/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>