</div>

<script src="/dashboard/vendor/jquery/jquery.min.js"></script>
<script src="/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/dashboard/vendor/chartjs/chart.bundle.min.js"></script>

<script src="/dashboard/js/plugins/chartjs-line-init.js"></script>


<script src="/dashboard/js/plugins/chartjs-donut.js"></script>


<script src="/dashboard/js/scripts.js"></script>
{% if footer_scripts %}
{% for script in footer_scripts %}
<script src="{{script}}"></script>
{% endfor %}
{% endif %}

</body>

</html>